h1 {
  padding-bottom: 20px;
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2196f3;
}

a:hover {
  color: #2270af;
}

body {
  background: bisque;
  font-family: sans-serif;
  height: 100vh;
}

.card-section {
  padding-block: 4em;
}
.cantainer {
  max-width: calc(90% - 90px);
  padding-inline: 20px;
  margin-inline: auto;
}
.cardBox {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* flex-direction: row; */
}
.card {
  display: flex;
  flex-direction: row;
  flex: 1 50%;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card:hover{
  background-color: #2196f3;
  color: white;
  transform: scale(1.03);
  transition: 0.5s;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

.card img {
  max-width: 250px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin: 0;
  border-radius: 20px 0 0 20px;
}
.content {
  margin-left: 1em;
  display: flex;
  gap: 14px;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.content h3 {
  margin-bottom: 0.4em;
}
.content p {
  line-height: 1.6;
}
.content p,
a {
  font-size: 0.95em;
}

@media only screen and (max-width: 700px) {
  .card {
    flex-direction: column;
  }
  .card img {
    max-width: 600px;
    border-radius: 20px 20px 0 0;
  }
}

